/* 
  I certify that the CSS file I am submitting is all my own work. 
  None of it is copied from any source or any person. 
  Signed: Keagan Haar.
*/

/*
  Author: Keagan Haar
  Date: 8/06/2023 
  Class: CSC135 
  Project: Part 5
  Description: Create project page with grid layout.
*/
 
/* Website boundaries */
html, body {
    min-height: 100vh;
}

/* Body flex and design */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    text-align: center;
    list-style-position: inside;
    background-color: #366088;
    margin: 0;
}


/* Starting grid and design */
main {
    display: grid;
    justify-content: center;
    grid-template-areas: 
    "header header header"
    "hr hr hr"
    "text-one text-one text-one"
    "text-two text-two text-two"
    "table table table";
    width: 70%;
    margin: 1em auto;
    padding: 1em;
    background-color: #0C2D48;
    font-size: large;
  }


/* Nav padding */
nav {
    padding-bottom: 1em;
  }
  
/* Nav color */
a {
    color: white;
  }


/* Flex and design for header */
.centered-column-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

/* Header color */
#page-header-container, #page-footer-container {
    background-color: #0C2D48;
  }


/* Main content design */
#main-content-header {
    color: #0C2D48;
    background-color: #B1D4E0;
    padding: 0.5em 3em;
    margin: auto;
    grid-area: header;
  }


/* Horizaontal rule creation */
#main-content-hr {
    width: 100%;
    grid-area: hr;
  }

/* Main content class design */
.sections {
    color: #0C2D48;
    background-color: #B1D4E0; 
    margin: 1em 2em;
    padding: 0.5em;
    margin-left: auto;
    margin-right: auto;
}

/* First ID grid */
#text-section-one {
    grid-area: text-one;
}


/* Second ID grid */
#text-section-two {
    grid-area: text-two;
}


/* Third ID grid */
#table {
    grid-area: table;
}


/* Different screen size adjustments */
@media screen and (max-width: 780px) {
  main {
    grid-template-areas: 
    "header header header"
    "hr hr hr"
    "text-one text-one text-one"
    "text-two text-two text-two"
    "hr hr hr"
    "table table table";;
  }
}